ansel==0.2.0
black==22.3.0
click==8.1.3
convertdate==2.4.0
fancycompleter==0.9.1
ged4py==0.4.4
mypy-extensions==0.4.3
pathspec==0.9.0
pdbpp==0.10.3
platformdirs==2.5.2
psycopg2==2.9.3
Pygments==2.12.0
PyMeeus==0.5.11
pyrepl==0.9.0
python-gedcom-2==1.7.0
sqlparse==0.4.2
tabulate==0.8.9
tomli==2.0.1
typing_extensions==4.2.0
wmctrl==0.4
yoyo-migrations==7.3.2
